provider "aws" {
  alias  = "us_east_1"
  region = "us-east-1"
  assume_role { role_arn = "{{ target_admin_role_arn }}" }
}

provider "aws" {
  alias  = "eu_west_2"
  region = "eu-west-2"
  assume_role { role_arn = "{{ target_admin_role_arn }}" }
}

provider "aws" {
  alias  = "ap_southeast_1"
  region = "ap-southeast-1"
  assume_role { role_arn = "{{ target_admin_role_arn }}" }
}

provider "aws" {
  alias  = "us_west_2"
  region = "us-west-2"
  assume_role { role_arn = "{{ target_admin_role_arn }}" }
}