{#---
  Render one aliased provider block for every region in locals.target_regions.
  Dash ( - ) is illegal in an alias, so we replace with underscore.
---#}

{% for r in local.target_regions_clean %}
provider "aws" {
  alias  = "{{ r | replace('-', '_') }}"
  region = "{{ r }}"
  assume_role {
    role_arn = "{{ target_admin_role_arn }}"
  }
}
{% endfor %}