# variables.tf.jinja

variable "target_regions" {
  type    = list(string)
  default = ["us-east-1", "eu-west-2", "ap-southeast-1", "us-west-2"]
  
  validation {
    condition     = length(var.target_regions) > 0
    error_message = "At least one target region must be specified."
  }
}

variable "enable_quota_automation" {
  type    = bool
  default = true
}

variable "quota_service_code" {
  type    = string
  default = "vpc"
}

variable "quota_code" {
  type    = string
  default = "L-0EA8095F"
}

variable "default_target_quota_value" {
  type    = number
  default = 200
  
  validation {
    condition     = var.default_target_quota_value > 60
    error_message = "Target quota must be greater than current default (60)."
  }
}

variable "aft_timestamp" {
  type    = string
  default = "{{ timestamp }}"
}

variable "account_region" {
  type    = string
  default = "{{ provider_region }}"
}